
<div class="main p-5">
    <h2 class="text-center">Easy Note</h2>
    <div class="d-flex flex-column align-items-center justify-content-center h-100">
        <div class="d-flex align-items-center justify-content-center gap-2 flex-column">
            <img src="../../assets/note.jpg" class="w-75 m-auto">
            <p class="subtitle text-center">A simple and fast way to keep important ideas in one place</p>
        <button type="submit" class="btn btn-outline-light" (click)="getStart()">Get Started</button>
        </div>
    </div>
   
</div>
